EMAIL_HOST=< your value here>
EMAIL_PORT=< your value here>
EMAIL_HOST_USER=< your value here>
EMAIL_HOST_PASSWORD=< your value here>
AWS_ACCESS_KEY_ID=< your value here>
AWS_SECRET_ACCESS_KEY=< your value here>
AWS_STORAGE_BUCKET_NAME=< your value here>
REDISCLOUD_URL=< your value here>
TEST_EMAIL_ADDRESS=< your value here>
DJANGO_SU_NAME=< your value here>
DJANGO_SU_EMAIL=< your value here>
DJANGO_SU_PASSWORD=< your value here>
CELERY_TASK_ALWAYS_EAGER=< your value here>
ENVIRONMENT=< your value here>
SECRET_KEY=< your value here>
MAINTENANCE_MODE=< your value here>