# .env.example

EMAIL_HOST=project_specific_value_here
EMAIL_PORT=project_specific_value_here
EMAIL_HOST_USER=project_specific_value_here
EMAIL_HOST_PASSWORD=project_specific_value_here
AWS_ACCESS_KEY_ID=project_specific_value_here
AWS_SECRET_ACCESS_KEY=project_specific_value_here
AWS_STORAGE_BUCKET_NAME=project_specific_value_here
REDISCLOUD_URL=project_specific_value_here
TEST_EMAIL_ADDRESS=project_specific_value_here
DJANGO_SU_NAME=project_specific_value_here
DJANGO_SU_EMAIL=project_specific_value_here
DJANGO_SU_PASSWORD=project_specific_value_here
CELERY_TASK_ALWAYS_EAGER=project_specific_value_here
ENVIRONMENT=project_specific_value_here
SECRET_KEY=project_specific_value_here
MAINTENANCE_MODE=project_specific_value_here