[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
django-storages = "==1.14"
django-celery-beat = "==2.7.0"
djangorestframework = "*"
docutils = "==0.19"
gunicorn = "==20.1.0"
whitenoise = "==6.3.0"
psycopg2-binary = "==2.9.5"
tzdata = "==2022.7"
python-dotenv = "==1.0.0"
pillow = "==10.0.0"
boto3 = "==1.28.43"
redis = "==5.2.1"
celery = "==5.4.0"
reportlab = "*"

[dev-packages]
ruff = "*"
coverage = "==7.2.6"
pytest-cov = "==4.1.0"
flake8 = "==6.1.0"
isort = "*"
black = "*"
factory-boy = "*"
pytest-django = "*"
debugpy = "*"

[requires]
python_version = "3.11"
