{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete journal {{ journal_id }}?</p>

    <form method="post" action="{% url 'self_enquiry:delete' journal_id %}">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
        {% comment %} Cancel the deletion {% endcomment %}
        <a href="{% url 'self_enquiry:detail' journal_id %}">Cancel</a>
    </form>
{% endblock content %}