{% extends "base.html" %}

{% block title %}{{ the_site_name }} - {{ page_title }}{% endblock title %}

{% block content %}
    <h1>Journals</h1>

    {% if user.registration_accepted %}
        {{ journal_list }}
        <br>
        <br>
        {% for journal in journal_list %}
            <hr>
            <h2>{{ journal.title }}</h2>
            <h3>{{ journal.created }}</h3>
            <p>{{ journal.content }}</p>
            <br>
        {% endfor %}
    {% endif %}

{% endblock content %}
