{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
<h1>{{ page_title }}</h1>
<h2>Application Links</h2>
<a href={% url 'career_organizerator:skill-list' %}>Skills</a>
|
<a href={% url 'career_organizerator:behavioral-interview-question-list' %}>Behavioral Interview Questions</a>
|
<a href={% url 'career_organizerator:question-response-list' %}>Question Responses</a>
|
<a href={% url 'career_organizerator:bulletpoint-list' %}>Bullet Points</a>
{% endblock content %}
