{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
<h1>Create Valued Goal</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create (Save Changes)</button>
    {% if valuedgoal %}
        <a href="{% url 'valued_goals:goals-detail' valuedgoal.id %}">Cancel</a>
    {% else %}
        <a href="{% url 'valued_goals:goals-list' %}">Cancel</a>
    {% endif %}
</form>
{% endblock content %}
