{% extends "base.html" %}
{% block content %}
  <h1>Labels</h1>
  <a href="{% url 'app_tracker:label_create' %}">➕ Create New Label</a>
  <ul>
    {% for label in object_list %}
      <li>
        <span
          style="
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 8px;
            border: 1px solid #ccc;
            background-color: #{{ label.hue }};
          "
        ></span>
        <a href="{% url 'app_tracker:label_detail' label.pk %}">
          {{ label.name }}
        </a>
      </li>
    {% empty %}
      <li>No labels found.</li>
    {% endfor %}
  </ul>
{% endblock %}
