{% extends "base.html" %}
{% block content %}
  <h1>
    <span
      style="
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        border: 1px solid #ccc;
        background-color: #{{ label.hue }};
      "
    ></span>
    {{ object.name }}
  </h1>

  <p><strong>Description:</strong> {{ object.description }}</p>


  <p>
    <a href="{% url 'app_tracker:label_update' object.pk %}">✏️ Edit</a> |
    <a href="{% url 'app_tracker:label_delete' object.pk %}">❌ Delete</a> |
    <a href="{% url 'app_tracker:label_list' %}">⬅️ Back to list</a>
  </p>
{% endblock %}
