{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}

    <h1>{{ page_title }}</h1>
    <a href="{% url 'app_tracker:oc_create' %}">➕ Create New Organizational Concept</a>
	{% if object_list %}
    {% for organizational_concept in object_list %}
        <h2>{{ organizational_concept.name }}</h2>
        <pre>{{ organizational_concept.description|linebreaksbr }}</pre>
        {% if organizational_concept.applications.all %}
            <p>Applications: </p>
            <p>
                {% for note in organizational_concept.applications.all %}
                    {{ note.name}}{% if not forloop.last %} | {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <p><a href="{% url 'app_tracker:oc_detail' organizational_concept.id %}">Details</a></p>
    {% endfor %}
	{% else %}
		<p>No organizational concepts found.</p>
	{% endif %}
{% endblock content %}