{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
  <h1>Priorities</h1>
  <a href="{% url 'tasks:priority_create' %}" class="btn btn-primary mb-3">+ Add Priority</a>
  <ul class="list-group">
    {% for priority in object_list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'tasks:priority_detail' priority.pk %}">{{ priority.name }} - ({{priority.level}})</a>
        <div>
          <a href="{% url 'tasks:priority_update' priority.pk %}" class="btn btn-sm btn-secondary">Edit</a>
          <a href="{% url 'tasks:priority_delete' priority.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </div>
      </li>
    {% empty %}
      <li class="list-group-item">No priorities yet.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
