{% extends "base.html" %}

{% block title %}
{{ page_title }} - {{ the_site_name }}
{% endblock title %}

{% block content %}
<h2>{{ page_title }}</h2>

<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>

    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
        {{ form.description.errors }}
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'packing_list:activity_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock content %}
