{% extends "base.html" %}

{% block title %}
{{ page_title }}
-
{{ the_site_name }}
{% endblock title %}

{% block content %}
<h1>Are you sure you want to delete "{{ task.name }}"?</h1>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a href="{% url 'packing_list:task_detail' task.pk %}" class="btn btn-secondary">Cancel</a>
    <a href="{% url 'packing_list:task_list' %}" class="btn btn-link">Back to Tasks</a>
</form>
{% endblock content %}
