<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
  <ul class="dropdown-menu">
    {% if user.is_authenticated and user.registration_accepted %}
      <li>
        <a class="dropdown-item" href="{% url 'home' %}">Home</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'boosts:inspirational-list' %}">Boosts</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'vitals:bloodpressure-list' %}">Blood Pressure</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'vitals:bloodpressure-report' %}">Blood Pressure Report</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'vitals:bodyweight_list' %}">Body Weight</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'decide:decision_list' %}">Decide</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'kanban_cabinet:dashboard' %}">Kanban Cabinet</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'kanban_cabinet:stockitem_list' %}">Stock Items</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'kanban_cabinet:location_list' %}">Locations</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:dashboard' %}">App Tracker Dashboard</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:application_list' %}">Applications</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:label_list' %}">Labels</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:lfs_list' %}">Languages/Frameworks/Systems</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:note_list' %}">Notes</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:os_list' %}">Operating Systems</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:oc_list' %}">Organizational Concepts</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:project_list' %}">Projects</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'app_tracker:host_list' %}">Hosts</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'uc_goals:uc_list' %}">Ultimate Concern Goals</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'packing_list:activity_list' %}">Packing List - Activities</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'packing_list:item_list' %}">Packing List - Items</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'packing_list:task_list' %}">Packing List - Tasks</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'story_line:note_list' %}">Story Line Notes</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'story_line:note_create' %}">Create Story Line Note</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'unimportant_notes:note_list' %}">Unimportant Notes</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'unimportant_notes:tag_list' %}">Unimportant Notes - Tags</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'plan_it:dashboard' %}">Plan It!</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'plan_it:activity_list' %}">Activities</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'plan_it:activity_location_list' %}">Activity Locations</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'plan_it:item_list' %}">Items</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'plan_it:storage_location_list' %}">Locations</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'plan_it:activity_type_list' %}">Activity Types</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
    {% endif %}

    {% if user.is_authenticated %}
      <li>
        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
    {% endif %}
    {% if user.is_staff and user.registration_accepted %}
      <li>
        <a class="dropdown-item" href="{% url 'admin:index' %}">Django Admin Interface</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
    {% endif %}
    <li>
      <a class="dropdown-item" href="https://github.com/brucestull/personal-assistant" target="_blank">Personal Assistant Repository</a>
    </li>
  </ul>
</li>
