{% extends "base.html" %}

{% block title %}{{ the_site_name }} - {{ page_title }}{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {% if user.registration_accepted %}
        {% for blood_pressure in bloodpressure_list %}
            <hr>
            {% comment %} <h2><a href="{% url 'self_enquiry:detail' blood_pressure.id %}">{{ blood_pressure }}</a></h2> {% endcomment %}
            <h2>{{ blood_pressure }} | {{ blood_pressure.created }}</h2>
            {% comment %} {{ blood_pressure.content | linebreaks }} {% endcomment %}
        {% endfor %}
    {% endif %}

{% endblock content %}
