{% extends "base.html" %}

{% block title %}{{ the_site_name }} - {{ page_title }}{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {% if user.registration_accepted %}
        {% comment %} <hr>
        <h2>All Users</h2>
        <h3>Median</h3>
        {{ average_and_median_all.systolic_median }} / {{ average_and_median_all.diastolic_median }}
        <span>
        <h3>Average</h3>
        {{ average_and_median_all.systolic_average }} / {{ average_and_median_all.diastolic_average }} {% endcomment %}
        <hr>
        <h2>{{ user.username }}'s Blood Pressures</h2>
        <h3>Medians</h3>
        {{ user_averages_and_medians.systolic_median }} / {{ user_averages_and_medians.diastolic_median }}
        <h3>Averages</h3>
        {{ user_averages_and_medians.systolic_average }} / {{ user_averages_and_medians.diastolic_average }}
        <hr>
        <h3>Minimums</h3>
        {{ user_pressure_range.systolic_min }} / {{ user_pressure_range.diastolic_min }}
        <h3>Maximums</h3>
        {{ user_pressure_range.systolic_max }} / {{ user_pressure_range.diastolic_max }}
        <hr>
        {% for blood_pressure in bloodpressure_list %}
            {% comment %} <h2><a href="{% url 'self_enquiry:detail' blood_pressure.id %}">{{ blood_pressure }}</a></h2> {% endcomment %}
            <h3>{{ blood_pressure }} | {{ blood_pressure.created }}</h3>
            {% comment %} {{ blood_pressure.content | linebreaks }} {% endcomment %}
            <hr>
        {% endfor %}
    {% endif %}

{% endblock content %}
