<!DOCTYPE html>
<html>
<head>
    <title>{{ device.name }}</title>
</head>
<body>
    <h1>{{ device.name }}</h1>
    <p><strong>Operating System:</strong> {{ device.operating_system }}</p>
    <p><strong>Host Name:</strong> {{ device.host_name }}</p>
    <p><strong>MAC Address:</strong> {{ device.mac_address }}</p>
    <p><strong>RAM:</strong> {{ device.ram }}</p>
    <p><strong>Form Factor:</strong> {{ device.get_form_factor_display }}</p>
    <p><strong>Description:</strong> {{ device.description }}</p>
    <a href="{% url 'pi_device_list' %}">Back to list</a>
</body>
</html>
