{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}

    <h1>Notes</h1>
    <form method="post" action={% url 'unimportant_notes:note_create' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create the Note</button>
    </form>
    {% for object in object_list %}
        <h2>{{ object.title }}</h2>
        {{ object.content|linebreaks }}
        - {{ object.author }} on {{ object.updated }}
        {% if not forloop.last %}
            <br>
        {% endif %}
    {% endfor %}

{% endblock content %}
