{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}

    <h1>Unimportant Notes</h1>
    <form method="post" action={% url 'unimportant_notes:note_create' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create the Note</button>
    </form>
    {% for unimportant_note in object_list %}
        <h2>{{ unimportant_note.title }}</h2>
        {{ unimportant_note.content|linebreaks }}
        {% if unimportant_note.url %}
        <a href={{ unimportant_note.url }} target="_blank" rel="noopener" >{{ unimportant_note.url }}</a>
        {% endif %}
        <p>- {{ unimportant_note.author }} on {{ unimportant_note.updated }}</p>
        {% if not forloop.last %}
            <br>
        {% endif %}
    {% endfor %}

{% endblock content %}
